---
import {Picture} from "astro:assets";
import ImageCafe from "../../assets/presenting.png";
---

<main id="nosotros" class="relative overflow-hidden">
  <div class="relative mx-auto px-8 max-w-7xl py-24 mt-25 md:px-12">
    <div class="mx-auto">
      <section  class="bg-[#3f2b24] overflow-hidden rounded-3xl shadow-2xl md:grid md:grid-cols-3 ">
        <Picture
          alt=""
          src={ImageCafe}
          class="h-56 w-full object-cover md:h-full sm:max-h-56"
        />
      
        <div class="p-4 sm:p-6 md:col-span-2 lg:p-8">
          <h2 class="mt-2">
            <span class="mt-2 text-4xl lora-titles block text-white ">De la Comarca al Mundo: Café con Origen y Esencia</span>
          </h2>
      
          
      
          <p class="mt-8 text-lg lora-text text-gray-200">
            Grano del Desierto es una empresa que ofrece café premium de origen mexicano y extrajero, con un fuerte vínculo con la Comarca Lagunera. Aunque el café no se cultiva en el desierto, nuestra marca rinde homenaje a la fuerza y resiliencia de la región que nos vio nacer. Cada grano de café que ofrecemos refleja la riqueza de la tierra que nos inspira.
          </p>
        </div>
      </section>
    </div>

  </div>
</main>
<style>
.lora-titles {
  font-display: swap;
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  letter-spacing: -0.02em;
  word-spacing: -0.25em;
}

.lora-text {
  font-display: swap;
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic;
  letter-spacing: 0.1em;
  word-spacing: 0.25em;
}
</style>
