---
import VariantLeft from '../VariantLeft.astro';
import VariantRight from '../VariantRight.astro';
import ImageProduct from '../../assets/bagCoffe.jpeg';
---
<main id="variedades">
  <div class="relative mx-auto px-8 max-w-7xl py-12 mt-25 md:px-12">
    <div class="text-center py-10">
      <h2 class="font-extrabold tracking-tight lora-titles text-black text-6xl">
        Nuestras variedades
      </h2>
      <p class="mt-4 text-lg leading-6 lora-text bg-amber-950 font-extrabold text-white">
        Descubre nuestra selección de granos tostados artesanalmente
      </p>
    </div>
    <VariantLeft
      imageSrc={ImageProduct}
      imageAlt="Taza de café en el desierto"
      title="Arábica (Coffea arabica)"
      description="El café más reconocido y apreciado en el mundo, cultivado en altitudes elevadas. Su perfil de sabor es suave y elegante, con notas dulces, afrutadas y florales. Ideal para quienes buscan una experiencia refinada en cada taza."
      className=""
    > </VariantLeft>
    <div class="py-10"/>
    <VariantRight
      imageAlt="Taza de café en el desierto"
      title="Robusta (Coffea canephora)"
      description="Con un carácter fuerte y robusto, este grano destaca por su sabor intenso con toques terrosos y un alto contenido de cafeína. Perfecto para quienes prefieren un café con cuerpo y energía."
      className=""
    > </VariantRight>
    <div class="py-10"/>
    <VariantLeft
      imageAlt="Taza de café en el desierto"
      title="Liberica (Coffea liberica)"
      description="Una variedad exótica con granos de mayor tamaño, reconocida por sus notas únicas de madera, flores y frutas. Cultivada en pequeñas regiones, es ideal para quienes buscan un perfil de sabor diferente y atrevido."
      className=""
    > </VariantLeft>
    <div class="py-10"/>
    <VariantRight
      imageAlt="Taza de café en el desierto"
      title="Excelsa (Coffea excelsa)"
      description="Una variedad rara y sofisticada que combina acidez vibrante y notas afrutadas con un toque de complejidad. Utilizada comúnmente en mezclas para enriquecer sabores, es un grano especial para paladares exigentes."
      className=""
    > </VariantRight>
  </div>
</main>
<style>
  .lora-titles {
    font-display: swap;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    letter-spacing: -0.02em;
    word-spacing: -0.25em;
  }

  .lora-text {
    font-display: swap;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 0.1em;
    word-spacing: 0.25em;
  }
</style>
