---
import BaseHead from "../components/BaseHead.astro";
import NavBar from "../components/landing/NavBar.vue";
import Footer from "../components/global/Footer.astro";
---

<html lang="en">
  <head>
    <BaseHead />
  </head>
  
  <body style="background-color: rgb(222, 198, 172);" class="">
    <NavBar client:load/>
    <slot />
    <div class="py-20"></div>
    <Footer/>
  </body>
</html>
